<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.travelex.asus.realtimeproject">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/launcher2"
        android:label="Travel Express"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.travelex.asus.realtimeproject.MainActivity"
            android:theme="@style/AppTheme2">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.travelex.asus.realtimeproject.Loginscreen"
            android:theme="@style/AppTheme2" />
        <activity
            android:name="com.travelex.asus.realtimeproject.RegisterAccount"
            android:theme="@style/AppTheme2" />
        <activity
            android:name="com.travelex.asus.realtimeproject.ChooseUser"
            android:theme="@style/AppTheme2" />
        <activity
            android:name="com.travelex.asus.realtimeproject.TravelProfile"
            android:theme="@style/AppTheme2" />
        <activity
            android:name="com.travelex.asus.realtimeproject.TouristDashboard"
            android:label=" "
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name="com.travelex.asus.realtimeproject.OrganizeTravel" />
        <activity android:name="com.travelex.asus.realtimeproject.TravelView" />
        <activity
            android:name="com.travelex.asus.realtimeproject.ShowTour"
            android:theme="@style/AppTheme2" />
        <activity android:name="com.travelex.asus.realtimeproject.ShowProfile" />
        <activity android:name="com.travelex.asus.realtimeproject.ShowOwnTour" />
        <activity android:name="com.travelex.asus.realtimeproject.LobbyActivity" />
        <activity android:name="com.travelex.asus.realtimeproject.LobbyActivity2" />
        <activity android:name="com.travelex.asus.realtimeproject.OrganizerProfile"
            android:theme="@style/AppTheme2"/>
    </application>

</manifest>